<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product</title>
  </head>
  <body>
    <form method="POST" action="/products">
      <input type="text" name="name" placeholder="Enter prodcut Name" />
      <input type="number" name="price" placeholder="Enter price" />
      <button type="submit">save Product</button>
    </form>
  </body>
</html>
